<html>

<head>
  <base href="/" />
  <title>ClearThread Angular 2 Template</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <style>
    body {
      margin: 0px;
      padding: 0px;
      color: #FFF;
      
    }
  </style>

  <!--<%- IndexFile_Font_Awesome %>
  <%- IndexFile_Material_Design %>-->
  

  <!-- 1. Load libraries -->
  <!-- Polyfill(s) for older browsers -->
  <script src="node_modules/zone.js/dist/zone.js"></script>
  <script src="node_modules/reflect-metadata/Reflect.js"></script>
  <script src="node_modules/systemjs/dist/system.src.js"></script>
  <!-- 2. Configure SystemJS -->
  <script src="app/assets/js/system.config.js"></script>
  <script>
        System.import('app').catch(function(err){ console.error(err);  });        
    </script>
</head>
<!-- 3. Display the application -->

<body>
  <ct-app>Loading...</ct-app>
</body>

</html>